/*  phpBB3 Style Sheet
--------------------------------------------------------------
Style name:        HelloBoing
Based on style:    prosilver (the default phpBB 3.0.x style)  
Original author:   Tom Beddard ( http://www.subblue.com/ )
Modified by:       Kewee ( http://studio.the-cri.org/ )
--------------------------------------------------------------
*/

@import url("common.css");
@import url("links.css");
@import url("content.css");
@import url("buttons.css");
@import url("cp.css");
@import url("forms.css");
@import url("tweaks.css");
@import url("colours.css");
.likebody {
  text-align: right;
}
.likesnotify{
  font-size: 1.5em;
  padding: 2em;
  background: #DEE6F1;
  border: 2px solid #3069B1;
  margin: 1em;
  border-radius: 5px;
}
